*{
    margin: 0;
    padding: 0;

}

html { 
    background: url('https://images.unsplash.com/photo-1614794447777-63bd5f669437?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2000&q=80') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  button{

  margin:  340px 500px 0px 700px;
  width: 150px;
  height: 70px;
  background-color: #643653;
  transition-property: all;
  transition-duration: 2s;
  transition-delay: 900ms;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5em;
  outline: none;


}



button:hover{
 background-color:#0D1328;
 border: 2px solid rgb(146, 148, 248);
 cursor: pointer;
 transform:translateY(-10px);
 box-shadow: 1px 1px 25px 10px rgba(146, 148, 248, 0.4);

}
  